@charset "utf-8";
*{
	
	margin: 0;
	padding: 0;	
}

.container {
	background-color: white;
	height: auto;
	width: 100%;
	font-family:Verdana, Geneva, sans-serif;
}
.top{
	width: 100%;
	height: 40px;
	background-image: url('images/aa.png');
	clear: both;	
}
.topone{
	float: left;
	width: 46%;
	height: 40px;
	padding: 8px;
	color: white;
	font-size:18px;
}
.toptwo{
	float: right;
	width: 46%;
	height: 40px;
	padding: 8px;
	color: white;
	font-size:18px;
	
	
}
.toptwo h4{
	margin-left: 180px;	
}
/* banner designing */

.banner{
	width: 100%;
	clear: both;
		
}
.banner .banner_logo{
	
	width: 50%;
	float: left;	
}
.banner .banner_search{
	width: 50%;
	float: left;	
}
.banner .banner_search input[type="text"]{
	width: 220px;
	height: 38px;
	margin-top: 70px;
	margin-left: 150px;
	border-radius: 4px;
	
}
.banner .banner_search input[type="submit"]{
	width: 100px;
	height: 42px;
	background-image: url('images/aa.png');
	border: none;
	cursor: pointer;
	color: white;
	font-size: 18px;
	font-weight:bold;
	vertical-align:middle; 

	
}

#header {
	background-color: white;
	height: 300px;
	width: 100%;
	max-width: 100%;
	clear: both;
	
}
#header img{

	width: 100%;
	height: 300px;
	border-bottom: 6px solid #F6C;
	max-width: 100%;
	border-top: 6px solid #f6c;
	
}
.nav {
	background-image: url('images/aa.png');
	height: 66px;
	width: 100%;
	margin-top: 17px;
	clear: both;
	margin-bottom: 25px;
	
	
}
.nav ul{

	list-style: none;
	
	
	
}
.nav ul li{
	
	float: left;
	
	
		
	
}
.nav ul li a{
	text-decoration: none;
	padding: 21.5px;
	font-weight: bold;
	display: block;
	margin-left: 30px;
	color: white;
	
	
	
	
	
	
	
}
.nav ul li a:hover{
	

	border-top: 9px solid;
  box-shadow: inset 0 0 20px rgba(355, 355, 355, 0.5), 0 0 20px rgba(555, 555, 555, 0.4);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 35px;
  text-shadow: 2px 2px 2px #427388;
  transition: all 0.6s linear;
  border-right: 8px solid;
  border-left: 8px solid;
  
  
	
	
						
}
.active{
	

	border-top: 9px solid;
  box-shadow: inset 0 0 20px rgba(355, 355, 355, 0.5), 0 0 20px rgba(555, 555, 555, 0.4);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 35px;
  text-shadow: 2px 2px 2px #427388;
  transition: all 0.6s linear;
  border-right: 8px solid;
  border-left: 8px solid;
  
  
	
	
						
}
#marquee_image{
	color: red;
	background-image: url('images/aa.png');
	height: 50px;
	clear: both;
	margin-bottom: -30px;
	line-height: 50px;
	border-right: 20px solid pink;
	border-left: 20px solid pink;
	color: purple;
	font-weight:bold;	
	cursor: pointer;
	
}

/* ABOUT SECTION STYLING */
.about_section{
	
	width: 100%;
	background-image: url('images/pic.jpg');
	height: 380px;
	margin-top: 40px;
	max-width: 100%;
	clear: both;
	
}
.aboutone{
	width: 50%;
	height: 400px;
	margin: 0 auto;
	float: left;	
	
}
.aboutone h1{
	padding: 35px;
	color: white;
		
	
}
.aboutone p{
	margin-bottom: 20px;
	color: white;	
	text-align: justify;
	
	
	
}

.aboutone button{
	background-color: #e914c4;
	color: white;
	width: 450px;
	height: 44px;
	margin-left: 20px;
	border: none;
	margin-bottom: 36px;
	font-weight: bold;	
	font-size: 17px;
}
.aboutone button:hover{
	background-color: green;
	color: white;
	cursor: pointer;
	transition: all 0.4s ease-in;	
	
}
.abouttwo{
	width: 40%;
	height: 400px;
	margin: 0 auto;	
	float: left;
}
.abouttwo img{
	padding: 30px;
	width: 450px;
	margin-left: 25px;
		
}
.scroll{
	
	cursor: pointer;	
}
/* COURSES SECTION */

ol li{
	
	padding: 10px;
	margin: 0 auto;
	margin-left: 460px;	
	
}
/* image rotate */
.sep{
	
	margin-top: 40px;	
}

.image-hover * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.image-hover {position:relative;width:450px;height:200px;display:inline-block;overflow:hidden;background:#fff;border:10px solid #fff;
box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3)}
.image-hover a {text-decoration:none;}

.image-hover img {margin:-100px 0px 0px -100px; box-shadow: 2px 2px 2px (255,255,255,0.5); cursor: pointer;}

.img-rotate-scale
{
transition:all 1.2s ease-in-out;
-webkit-transition:all 1.2s ease-in-out;
-moz-transition:all 1.2s ease-in-out;
-ms-transition:all 1.2s ease-in-out;
-o-transition:all 1.2s ease-in-out;
}

.img-rotate-scale:hover
{
transform:rotate(720deg) scale(2,2);
-webkit-transform:rotate(720deg) scale(2,2);
-moz-transform:rotate(720deg) scale(2,2);
-ms-transform:rotate(720deg) scale(2,2);
-o-transform:rotate(720deg) scale(2,2);
}

.explain_about{
	
	width: 100%;
	margin-top: 50px;
	
	
	
	
}
#about_image{
	width: 100%;
	margin-bottom: 40px;	
	
}
#about_image img{
	width: 99%;
	height: 300px;
	box-shadow:10px 42px 53px 10px rgba(10, 520, 320, 0.3);	
	
	
} 
#about_image img:hover{
	
	transition: all 0.5s ease-in-out;
	cursor: pointer;	
	
}
.explain_about p{
	text-align: justify;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 23px !important;	
		
}
.border{
	margin-bottom: 30px;
	width: 100%;
	border: 5px solid #F3C;
	margin-top: 30px;	
	box-shadow:10px 32px 13px 10px rgba(10, 370, 370, 0.8);
	
}

/* services section design*/
.services_title{
	width: 100%;
	clear:both;
	text-align:center;
	color: #F6C;	
	margin-top: 45px;
	font-size: 60px;
	
	
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
	border-bottom: 2px solid purple;
}



.ch-grid li {
	width: 270px;
	height: 270px;
	display: inline-block;
	margin: 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 230px;
	height: 230px;
	border-radius: 50%;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	background: #f9f9f9;
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
	
}

.ch-info {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-front {
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	
	z-index: 100;
	box-shadow: 
		inset 2px 1px 4px rgba(0,0,0,0.1);
}

.ch-info .ch-info-back {
	background: rgba(230,132,107,0);
}

.ch-img-1 { 
	background: #907037;
}

.ch-img-2 { 
	background:#df621d;
}

.ch-img-3 { 
	background:#f9d428;
}


.ch-info h3,p{
	margin-top: 45px;
	
}

.ch-info p a {
	display: block;
	color: #0FF;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;	
	font-size: 13px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
	
}



.ch-item:hover .ch-info-front {
	-webkit-transform: rotate3d(1,0,0,-180deg);
	-moz-transform: rotate3d(1,0,0,-180deg);
	-o-transform: rotate3d(1,0,0,-180deg);
	-ms-transform: rotate3d(1,0,0,-180deg);
	transform: rotate3d(1,0,0,-180deg);
	
	box-shadow: 
		inset 0 0 5px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(0,0,0,0.3);
}

.ch-item:hover .ch-info-back {
	background: rgba(230,132,107,0.6);
	cursor: pointer;
}
/* explain services area */

.explain_services{

	width: 100%;
	clear: both;
	height: 500px;
	

	
}
.services_first, .services_two, .services_three{
	
width: 30%;
height: 300px;
float: left;
padding: 10px;
color: #F0C;


	
	
}
.services_first, .services_two, .services_three, h3,p{
	
	margin-left: 5px;	
	
}
.services_three{
	padding: 20px;	
	
}
/*  our team designing */

.our_team{

	width: 100%;
	clear: both;
	margin-top: 20px;
	height: 550px;
	margin-bottom: 40px;
	
	
}
#my_team{
	height: 850px;	
	
}
.team_first, .team_second, .team_third{

	
	width: 30%;
	height: 550px;
	float: left;
	padding: 14px;
	margin-bottom: 30px;
	
}
.team_title{
	text-align: center;
	font-size: 60px;
	font-weight:bold;
	color: #F6C;	
}
.our_team img{
	width: 100%;	
	
}
.our_team img:hover{
	
	box-shadow: 2px 3px 2px 3px rgba(25px 274px 23px o.3);
	cursor: pointer;
	transition: all 0.7s ease-in-out;
	opacity: 0.5;
}
.our_team button{
	background-color: pink;
	border: none;
	height: 40px;
	width: 310px;	
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
	color: purple;
}
.our_team button:hover{
	background-color: skyblue;
	color: black;
	cursor: pointer;
	transition: all 0.7s ease-in-out;
}
.our_team p{

	text-align: justify;
	
}
/* footer area styling */
.footer{
	
		width: 100%;
		clear: both;
		background-image: url('images/aa.png');
		margin-bottom: 0px;	
		margin-top: 35px;
		height: 250px;
		color: white;
		
}
.footer_one, .footer_two{
	float: left;
	width: 50%;
		
	
}
.footer_one h2{
	text-align: center;
	margin-top: 30px;
		
}
.footer_two h2{
	
	text-align: center;
	margin-top: 30px;	
}
.footer_one input[type="text"]{
	width: 210px;
	height: 35px;
	border: none;
	text-align: center;	
	clear: both;
	margin-left: 170px;
	margin-top: 30px;
}
.footer_one input[type="submit"]{
	width: 210px;
	height: 30px;
	border: none;
	text-align: center;	
	clear: both;
	margin-left: 170px;
	margin-top: 5px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: pink;
}
.footer_one input[type="submit"]:hover{
	
	cursor: pointer;
	background-color: skyblue;
	
}
.footer_two a img{
	
	width: 40px;
	margin-top: 40px;
	margin-left: 60px;
}
.footer_bottom{
	width: 100%;
	height: 30px;
	clear: both;
	background-color: pink;
	color: black;
	margin-top: -35px;	
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	
}
#footer_bottom{
	margin-top: 0px;	
	
}
/* contact form */
.contact{
	
	width: 100%;
	height: 620px;
	clear: both;	
	
}
.contact, h1,h3,h5,h2,p{
	
	text-align: center;
	margin-top: 30px;
	color: purple;	
}
.contact img{
	
	
	
}
.contact p{
	width: 50%;
	margin: 0 auto;
	text-align: justify;	
	
}
	
	
	
	


@media screen and (max-width: 480px){
	
	
	#header{
	
	width: 100%;
	height: 200px;
	clear: both;	
	
}
#header img{
	width: 100%;
	height: 200px;
	clear: both;	
	
}
.nav{
	
	background-color: #FFC;	
	height: 310px;
}
.nav ul li{
	float: none;
	
	
}
.nav ul li a{
	text-align: center;
	margin-left: 0;	
	
}
.nav ul li a:hover{
	background-color: #C6C600;	
	color: black;
	border-bottom: none;
	
}
.container{
	padding-left: 0;
	padding:-right: 0;	
	
}
	
	
}


